.*.swp
*~
*.tar.gz
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install_iplike.sh
iplike
iplike.spec
libtool
ltmain.sh
missing
stamp-h1
*.la
*.lo
*.loT
*.o
*.cdbs-orig
debian/files
debian/iplike-pgsql*
debian/postinst
debian/prerm
debian/stamp-*
