.idea/
.*.swp
*~
*.tar.gz
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install_iplike.sh
iplike
iplike.spec
libtool
ltmain.sh
missing
stamp-h1
test-driver
test*.log
test*.trs
*.la
*.lo
*.loT
*.o
*.cdbs-orig
debian/changelog
debian/control
debian/dirs
debian/files
debian/iplike-pgsql*
debian/overrides
debian/postinst
debian/prerm
debian/rules
debian/stamp-*
