iplike-pgsql@PGSQL_TYPE@: no-shlibs-control-file usr/lib/iplike.so
iplike-pgsql@PGSQL_TYPE@: postinst-must-call-ldconfig usr/lib/iplike.so
iplike-pgsql@PGSQL_TYPE@: binary-without-manpage install_iplike.sh
iplike-pgsql@PGSQL_TYPE@: script-with-language-extension usr/sbin/install_iplike.sh
iplike-pgsql@PGSQL_TYPE@: no-debconf-config
iplike-pgsql@PGSQL_TYPE@: postinst-uses-db-input
