iplike-pgsql@PG_TYPE_VERSION@: no-shlibs-control-file usr/lib/iplike.so
iplike-pgsql@PG_TYPE_VERSION@: postinst-must-call-ldconfig usr/lib/iplike.so
iplike-pgsql@PG_TYPE_VERSION@: binary-without-manpage install_iplike.sh
iplike-pgsql@PG_TYPE_VERSION@: script-with-language-extension usr/sbin/install_iplike.sh
iplike-pgsql@PG_TYPE_VERSION@: no-debconf-config
iplike-pgsql@PG_TYPE_VERSION@: postinst-uses-db-input
